body {
    background-color: lightblue;
}

button {
    background-color: pink;
    color: white;
}

button:hover{
    background-color: blue ;
}

a:active {
    color: lightgreen;
}

a:visited{
    color: orange;
}

input:focus{
    background-color: lightgrey;
}