body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Garante que a altura da página ocupe a tela toda */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: white; /* Cor de fundo da página */
}
  
.container {
    background-color:#F5EFFF; /* Cor do fundo do formulário */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
    text-align: center; /* Centraliza o conteúdo do formulário */
    font-size: 20px;
    color: #A594F9;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

.container button {
    color: white;
    background-color: #A594F9;
    font-size: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.container button:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #7E60BF;
}
  